# Virtual Environment
venv/

# Python Cache
__pycache__/
*.pyc

# Environment Variables
.env

# SQLite
db.sqlite3

# VS Code
.vscode/

# macOS
.DS_Store

# Static files
staticfiles/

# Migrations cache
*.log